.header {
  background: #00a2ed;
  height: 60px;
  line-height: 60px;
  color: #fff;
  text-align: left;
  font-size: 21px;
  .menu {
    display: inline-block;
    width: 30px;
    margin: 0 20px;
  }
  .title {
    margin-left: 10px;
    display: inline-block;
  }
}
